.btn-group {
    display: grid;
    padding: 10px 20px;
    border-radius: 4px;
    position: fixed;
    bottom: 250px;
    left: 200px;
  }
  
  .button {
    background-color: #31b0d5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
    font-size: 200px;
  }
  
  